{% extends 'base.html' %}

{% block body %}

<title>Veículos</title>

<div class="container mt-4">
  <form class="form-inline">
    <div class="input-group-append ml-4">
      <a href="{% url 'core:entrada' %}" class="btn btn-primary">
        Registrar Veículo
      </a>
    </div>
    <div class="input-group ml-auto"> <!-- adicionando a classe ml-auto aqui -->
      <input class="form-control" type="text" placeholder="Placa" id="placa-search" onkeypress="return event.keyCode != 13;">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="search-button">Buscar</button>
      </div>
    </div>
  </form>
</div>



{% if veiculos %}

<div class="container mt-2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Placa</th>
        <th>Data de entrada</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for veiculo in veiculos %}
      <tr>
        <td>{{ veiculo.categoria }}</td>
        <td>{{ veiculo.placa|upper }}</td>
        <td>{{ veiculo.data_entrada }}</td>
        <td>
          <a href="{% url 'core:veiculo' veiculo.placa %}" class="btn btn-outline-primary">
            Informações
          </a>
          <a href="{% url 'core:pagar' veiculo.placa %}" class="btn btn-primary">
            Checkout
          </a>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
<div class="container mt-2">
  <table class="table">
    <thead>
      <tr>
        <th>Veículo</th>
        <th>Data de Entrada</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3" class="text-center">
          <i>Estacionamento vazio.</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}